{% extends 'admin/change_list.html' %}
{% block object-tools %}

<script>
function f(){
    var voting_id = document.getElementById("voting_id").value
    print("voting_id: "+voting_id)
    var provincia = document.getElementById("provincia").value
    print("provincia: "+provincia)

    url = "http://127.0.0.1:8000/census_create_by_city/"+voting_id+"/"+provincia+"/"

    return window.location.href=url

}
</script>


<h1>Añadir censo para la provincia: </h1>
<label>Voting_id: </label>
<input type="number" name="voting_id" id="voting_id">
<label>Provincia</label>
<input  type="text" name="provincia" id="provincia">

<!--<input list="provincias" name="provincias">

<datalist id="provincias">
    <option value="sevilla">sevilla</option>
    <option value="huelva">huelva</option>
    <option value="malaga">malaga</option>
    <option value="almeria">almeria</option>
</datalist>-->

<a href="javascript:f()">Añadir</button>

<p></p>

{{block.super}}

{% endblock object-tools %}