{% extends 'admin/change_list.html' %}
{% block object-tools %}

<script>
function f_provincia_add(){
    var voting_id = document.getElementById("voting_id").value
    var provincia = document.getElementById("provincia").value
    url = "http://127.0.0.1:8000/census_create_by_city/"+voting_id+"/"+provincia+"/"
    return window.location.href=url
}

function f_provincia_delete(){
    var provincia = document.getElementById("provincia").value
    url = "http://127.0.0.1:8000/census_delete_by_city/"+provincia+"/"
    return window.location.href=url
}

function f_localidad_add(){
    var voting_id = document.getElementById("voting_id").value
    var localidad = document.getElementById("localidad").value
    url = "http://127.0.0.1:8000/census_create_by_localidad/"+voting_id+"/"+localidad+"/"
    return window.location.href=url
}

function f_localidad_delete(){
    var localidad = document.getElementById("localidad").value
    url = "http://127.0.0.1:8000/census_delete_by_localidad/"+localidad+"/"
    return window.location.href=url
}

function f_edad(){
    var voting_id = document.getElementById("voting_id").value
    var edad= document.getElementById("edad").value
    url = "http://127.0.0.1:8000/census_create_by_age/"+voting_id+"/"+edad+"/"
    return window.location.href=url
}

function f_genero_add(){
    var voting_id = document.getElementById("voting_id").value
    var genero= document.getElementById("genero").value
    url = "http://127.0.0.1:8000/census_create_by_genero/"+voting_id+"/"+genero+"/"
    return window.location.href=url
}

function f_genero_delete(){
    var genero = document.getElementById("genero").value
    url = "http://127.0.0.1:8000/census_delete_by_genero/"+genero+"/"
    return window.location.href=url
}



</script>

<h1>Añadir censos: </h1>
<p><label><b>la votación asociada: </b></label>
<input type="number" name="voting_id" id="voting_id" required></p>

</p><label><b>Por provincia: </b></label>
<input  type="text" name="provincia" id="provincia" required>
<button><a href="javascript:f_provincia_add()">Añadir por provincia</a></button>
<button><a href="javascript:f_provincia_delete()">Eliminar por provincia</a></button></p>

<p><label><b>Por localidad: </b></label>
<input  type="text" name="localidad" id="localidad" required>
<button><a href="javascript:f_localidad_add()">Añadir por localidad</a></button>
<button><a href="javascript:f_localidad_delete()">Eliminar por localidad</a></button></p>

<p><label><b>Por edad, mayores de: </b></label>
<input type="number" name="edad" id="edad" required>
<button><a href="javascript:f_edad()">Añadir por edad</a></button></p>

<p><label><b>Por genero: </b></label>
<input type="text" name="genero" id="genero" required>
<button><a href="javascript:f_genero_add()">Añadir por genero</a></button>
<button><a href="javascript:f_genero_delete()">Eliminar por genero</a></button></p>
<p></p>

<!--<select>
{%for provincia in provincias%}

<option value="{{provincia}}">{{provincia}}</option>

{% endfor %}

</select>-->


{{block.super}}

{% endblock object-tools %}