{% extends 'admin/change_list.html' %}
{% block object-tools %}

<script>
function f_add_provincia(){
    var voting_id = document.getElementById("voting_id").value
    print("voting_id: "+voting_id)
    var provincia = document.getElementById("provincia").value
    print("provincia: "+provincia)

    if(voting_id != 0 || provincia != ""){
        url = "http://127.0.0.1:8000/census_create_by_city/"+voting_id+"/"+provincia+"/"
    }else{
        url = "http://127.0.0.1:8000/admin/census/census/"
    }

    return window.location.href=url

}

function f_delete_provincia(){
    var provincia = document.getElementById("provincia").value
    print("provincia: "+provincia)

    if(provincia != " "){
        url = "http://127.0.0.1:8000/census_delete_by_city/"+provincia+"/"
    }else{
        url = "http://127.0.0.1:8000/admin/census/census/"
    }

    return window.location.href=url

}

function f_add_localidad(){
    var voting_id = document.getElementById("voting_id").value
    print("voting_id: "+voting_id)
    var localidad = document.getElementById("localidad").value
    print("localidad: "+localidad)

    if(voting_id != 0 || localidad != ""){
        url = "http://127.0.0.1:8000/census_create_by_localidad/"+voting_id+"/"+localidad+"/"
    }else{
        url = "http://127.0.0.1:8000/admin/census/census/"
    }
    return window.location.href=url
}

function f_delete_localidad(){
    var localidad = document.getElementById("localidad").value
    print("localidad: "+localidad)

    if(localidad!=" "){
        url = "http://127.0.0.1:8000/census_delete_by_localidad/"+localidad+"/"
    }else{
        url = "http://127.0.0.1:8000/admin/census/census/"
    }

    return window.location.href=url

}

function f_add_edad(){
    var voting_id = document.getElementById("voting_id").value
    print("voting_id: "+voting_id)
    var edad= document.getElementById("edad").value
    print("edad: "+str(edad))

    if(voting_id!=0 || edad != 0 ){
        url = "http://127.0.0.1:8000/census_create_by_age/"+voting_id+"/"+edad+"/"
    }else{
        url = "http://127.0.0.1:8000/admin/census/census/"
    }

    return window.location.href=url

}

function f_delete_edad(){
    var edad= document.getElementById("edad").value
    print("edad: "+str(edad))

    if(edad !=0){
        url = "http://127.0.0.1:8000/census_delete_by_age/"+edad+"/"
    }else{
        url = "http://127.0.0.1:8000/admin/census/census/"
    }
    return window.location.href=url
}

function f_add_genero(){
    var voting_id = document.getElementById("voting_id").value
    print("voting_id: "+voting_id)

    var genero= document.getElementById("genero").value
    print("genero: "+genero)

    
    if(voting_id!=0){
        url = "http://127.0.0.1:8000/census_create_by_genero/"+voting_id+"/"+genero+"/"
    }else{
        url = "http://127.0.0.1:8000/admin/census/census/"
    }

    return window.location.href=url

}

function f_delete_genero(){
    var genero= document.getElementById("genero").value
    print("genero: "+genero)

    if(genero != " "){
        url = "http://127.0.0.1:8000/census_delete_by_genero/"+genero+"/"
    }else{
        url = "http://127.0.0.1:8000/admin/census/census/"
    }
    return window.location.href=url

}

</script>


<h1>Añadir censos: </h1>
<p><label><b>la votación asociada: </b></label>
<input type="number" name="voting_id" id="voting_id" required></p>

</p><label><b>Por provincia: </b></label>
<input  type="text" name="provincia" id="provincia" required>
<button><a href="javascript:f_add_provincia()">Añadir por provincia</a></button>
<button><a href="javascript:f_delete_provincia()">Eliminar por provincia</a></button></p>

<p><label><b>Por localidad: </b></label>
<input  type="text" name="localidad" id="localidad" required>
<button><a href="javascript:f_add_localidad()">Añadir por localidad</a></button>
<button><a href="javascript:f_delete_localidad()">Eliminar por localidad</a></button></p>

<p><label><b>Por edad, mayores de: </b></label>
<input type="number" name="edad" id="edad" required>
<button><a href="javascript:f_add_edad()">Añadir por edad</a></button>
<button><a href="javascript:f_delete_edad()">Eliminar por edad</a></button></p>

<p><label><b>Por genero: </b></label>
<input type="text" name="genero" id="genero" required>
<button><a href="javascript:f_add_genero()">Añadir por genero</a></button>
<button><a href="javascript:f_delete_genero()">Eliminar por genero</a></button></p>


<p></p>

{{block.super}}

{% endblock object-tools %}